<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
	<h2><a href="{{reverse_url('home')}}">Back to Home Page</a></h2>
	<h2>Staff list
	  	<ol>
		    <li><a href="index.html">Max Frei</a>
		    	<input type="checkbox">
		    </li>

		    <li><a href="catalog.html">Guido van Rossum</a>
		    	<input type="checkbox">
		    </li>

		    <li><a href="contacts.html">James Bennet</a>
		    	<input type="checkbox">
		    </li>
	  	</ul>
	  	<hr>
	</h2>

    {% if all_records %}
        <ol>{% for item in all_records %}
            <li>{{ item[1] }} {{ item[2] }}
                <input type="checkbox">
            </li>

            {% end %}
        </ol>
    {% else %}
        <p>No staff records in database</p>
    {% end %}
    <hr>

	<h3>Что вы хотите сделать?</h3>
	<button>Delete</button>
	<button>Update</button>
	<select name="filter" size="4">
	  <option value="Female">show females</option>
	  <option value="Male">show males</option>
	  <option value="asc">sort by salary asc</option>
	  <option value="desc">sort by salary desc</option>
	</select>

    <hr>
    <form action="{{reverse_url('add')}}" method="post">
		<fieldset>
			<legend>Add new record</legend>
			<p>Name: <input type="text" name="name"></p>
			<p>Surname: <input type="text" name="surname"></p>
			<p>Date of Birth: <input type="date" name="date_of_birth"></p>
			<!--Sex: <input type="text" name="sex"><br>-->
			<p>
				<input type="radio" name="sex" value="F">Female
				<input type="radio" name="sex" value="M" checked>Male
			</p>
			<p>Email: <input type="email" name="email"></p>
			<p>Salary: <input type="number" name="salary"></p>
			<button>Add</button>
		</fieldset>
    </form>
</body>
</html>
